.carousel .carousel-indicators li {
    background-color: rgb(200, 194, 194);
    margin-left: 12px;
  }

  .carousel .carousel-indicators li.active {
    background-color: rgb(54, 40, 40);
    margin-left: 12px;
  }
  .carousel {
      position: relative;
      /* margin-top: -12px; */
  }

  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
